:root{
    --body-backgorund: #f3f4f6;
    --thank: #32ba7c;
    --color-div-bg: #ffffff; 
    --color-div-border: #cbd5e1;

    --shadow-mid: 0 4px 6px rgba(0, 0, 0, 0.08);
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
    --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.12);

    /* Text */
    --color-heading: #111827;
    --color-subtitle: #374151;
    --color-text: #1f2937;
    --color-muted: #6b7280;

    /* Accent */
    --color-accent: #8b5cf6;
    --color-accent-hover: #7c3aed;

    /* Forms & Inputs */
    --color-input-bg: #ffffff;
    --color-input-border: #cbd5e1;   /* darker border */
    --color-input-text: #111827;
    --color-input-focus: var(--color-accent);

    /* Buttons */
    --color-btn-bg: var(--color-accent);
    --color-btn-text: #ffffff;
    --color-btn-hover: var(--color-accent-hover);
    --nav-bg: #ffffff;

}

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--body-backgorund);
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.checkImg{
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
}

h2{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: var(--thank);
}

p{
    color: var(--color-heading);
    margin: 10px;
}

a{
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    background-color: var(--color-btn-bg);
    text-decoration: none;
    color: var(--color-btn-text);
    transition: all 0.3s ease-in-out;
}

a:hover{
    background-color: var(--color-accent-hover);
    transform: translateY(-4px);
    box-shadow: 0 8px 12px 2px rgba(19, 22, 29, 0.507);
}